.arrows {
    max-width:1.5%;
    height:auto;
}

.info {
    max-width: 500px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    position: center;
    border-radius: 4px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(119, 161, 238), rgb(74, 72, 192));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.19);
}